body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
}

.main-container-about{
    max-width: 100%;
    margin: auto;
}

.heading{
    display: grid;
    grid-template-columns: 25% 75%;
    margin: auto;
}

.heading h3{
    grid-column: 1;
    font-size: 2em;
    margin-left: 50%;
    }

#span-web-h3{
    color: blue;
}

.heading ul{
    display: inline-flex;
    list-style: none;
    margin-left: 20%;
}

.heading li{
    display: inline-flex;
    font-size: 1.5em;
    margin-left: 2%;
    margin-right: 0;
    width: 150px;
}

.heading li:hover{
    background: #FF8923;
}

.navbar{
    grid-column: 2;
    align-self: center;
    align-items: baseline;
}

.nav-bg{
    grid-column: 2;
    position: absolute;
    max-width: 70%;
    top: 0px;
    opacity: 0.5;
    z-index: -1;
    overflow: hidden;
}

.navbar a{
    text-decoration: none;
    color:#ffffff;
}

#about-title{
    display: flex;
    text-align: center;
    justify-content: center;
    align-self: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 55%;
}

#workflow{
    color: blue;
}


.about-grid{
    display: grid;
    max-width: 100%;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
    left: 15%;
    top: 55%;
    row-gap: 3%;
    column-gap: 3%;
}


 #item-1{
    display: flex;
    grid-column: 2;
    grid-row: 2;
    height: 60px;
    width: 200px;
    align-self: center;
    justify-content: center;
 }

 #item-2{
    display: flex;
    grid-column: 4;
    grid-row: 2;
    height: 60px;
    width: 200px;
    align-self: center;
    justify-content: center;
 }

 #item-3{
    display: flex;
    grid-column: 2;
    grid-row: 3;
    height: 60px;
    width: 200px;
    align-self: center;
    justify-content: center;
 }

 #item-4{
    display: flex;
    grid-column: 4;
    grid-row: 3;
    height: 60px;
    width: 200px;
    align-self: center;
    justify-content: center;
 }

 #item-5{
    display: flex;
    grid-column: 2;
    grid-row: 4;
    height: 60px;
    width: 200px;
    align-self: center;
    justify-content: center;
 }

 #item-6{
    display: flex;
    grid-column: 4;
    grid-row: 4;
    height: 60px;
    width: 200px;
    align-self: center;
    justify-content: center;
 }

 #item-7{
    display: flex;
    grid-column: 2;
    grid-row: 5;
    height: 60px;
    width: 200px;;
    align-self: center;
    justify-content: center;
 }

 #item-8{
    display: flex;
    grid-column: 4;
    grid-row: 5;
    height: 60px;
    width: 200px;
    align-self: center;
    justify-content: center;
 }

 #item-9{
    display: flex;
    grid-column: 2;
    grid-row: 6;
    height: 60px;
    width: 200px;
    align-self: center;
    justify-content: center;
 }

 #text-1{
    display: flex;
    grid-column: 3;
    grid-row: 2;
 }

 #text-2{
    display: flex;
    grid-column: 5;
    grid-row: 2;
 }

 #text-3{
    display: flex;
    grid-column: 3;
    grid-row: 3;
 }

 #text-4{
    display: flex;
    grid-column: 5;
    grid-row: 3;
 }

 #text-5{
    display: flex;
    grid-column: 3;
    grid-row: 4;
 }

 #text-6{
    display: flex;
    grid-column: 5;
    grid-row: 4;
 }

 #text-7{
    display: flex;
    grid-column: 3;
    grid-row: 5;
 }

 #text-8{
    display: flex;
    grid-column: 5;
    grid-row: 5;
 }

 #text-9{
    display: flex;
    grid-column: 3;
    grid-row: 6;
 }
 #n1{
    position: absolute;
    left: 855px;
    top: 115px;
    font-weight: 800;
 }
 
 #n3{
    position: absolute;
    left: 855px;
    top: 215px;
    font-weight: 800;
 }

 #n5{
    position: absolute;
    left: 855px;
    top: 315px;
    font-weight: 800;
 }

 #n7{
    position: absolute;
    left: 855px;
    top: 415px;
    font-weight: 800;
 }

 #n9{
    position: absolute;
    left: 855px;
    top: 515px;
    font-weight: 800;
 }

 #n2{
    position: absolute;
    left: 1215x;
    top: 115px;
    font-weight: 800;
 }

 #n4{
    position: absolute;
    left: 1215x;
    top: 215px;
    font-weight: 800;
 }

 #n6{
    position: absolute;
    left: 1215x;
    top: 315px;
    font-weight: 800;
 }

 #n8{
    position: absolute;
    left: 1215x;
    top: 415px;
    font-weight: 800;
 }

#about-img{
    display: flex;
    grid-row: 1/span6;
    grid-column: 1;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: absolute;
    top:150%;
    margin-left: 25%;
    column-gap: 150px;
}

#footer-h3{
    grid-column: 1;
    position: absolute;
    
}

#footer-paragraph{
grid-column: 1;

}

#footer-icons{
    grid-column: 1;
}

#footer-icons{
    display: inline-flex;
    grid-column: 1;
    position: absolute;
    top: 100px;
}

#footer-icons img{
    height: 50px;
    width: 50px;
    margin-left: 3px;
}

#about-us-footer{
    grid-column:2;
}

#community-footer{
    grid-column: 3;
}

#contact-footer{
    grid-column: 4;
}

.footer-list{
    list-style: none;

}

.footer a{
    text-decoration: none;
    color: blue;
}

.footer a:hover{
    color: #FF8923;
}
