body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
}

.main-container-blog{
    max-width: 100%;
    margin: auto;
    height: max-content;
}

.heading{
    display: grid;
    grid-template-columns: 25% 75%;
    margin: auto;
    height: 50%;
}

.heading h3{
    grid-column: 1;
    font-size: 2em;
    margin-left: 50%;
    }

#span-web-h3{
    color: blue;
}

.heading ul{
    display: inline-flex;
    list-style: none;
    margin-left: 20%;
}

.heading li{
    display: inline-flex;
    font-size: 1.5em;
    margin-left: 2%;
    margin-right: 0;
    width: 150px;
}

.heading li:hover{
    background: #FF8923;
}

.navbar{
    grid-column: 2;
    align-self: center;
    align-items: baseline;
}

.nav-bg{
    grid-column: 2;
    position: absolute;
    max-width: 70%;
    top: 0px;
    opacity: 0.5;
    z-index: -1;
    overflow: hidden;
}

.navbar a{
    text-decoration: none;
    color:#ffffff;
}

.blog-text{
    display: block;
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
}

#blog-span{
    color: blue;
}

.blog-grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    position: absolute;
    top: 70%;
    left: 30%;
    margin: auto;
    max-width: 100%;
    column-gap: 10px;
}

#blog-item-1{
    display: block;
    grid-column: 1;
    grid-row: 1;
    border: 2px solid #FF8923;
    border-radius: 20px;
    text-align: center;
}

#blog-item-2{
    display: block;
    grid-column: 2;
    grid-row: 1;
    border: 2px solid #FF8923;
    border-radius: 20px;
    text-align: center;
}

#blog-item-3{
    display: block;
    grid-column: 3;
    grid-row: 1;
    border: 2px solid #FF8923;
    border-radius: 20px;
    text-align: center;
}
.blog-img{
    height: 300px;
    width: 300px;
}

.read-more{
    display: flex;
    width: 150px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 5px;
    background: #ffffff;
    border: 1px solid;
    border-radius: 25px;
    align-self: center;
    justify-content: center;
}

.read-more:hover{
    background: #d7d5d5;
}


.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: absolute;
    top:150%;
    margin-left: 25%;
    column-gap: 150px;
}

#footer-h3{
    grid-column: 1;
    position: absolute;
    
}

#footer-paragraph{
grid-column: 1;

}

#footer-icons{
    grid-column: 1;
}

#footer-icons{
    display: inline-flex;
    grid-column: 1;
    position: absolute;
    top: 100px;
}

#footer-icons img{
    height: 50px;
    width: 50px;
    margin-left: 3px;
}

#about-us-footer{
    grid-column:2;
}

#community-footer{
    grid-column: 3;
}

#contact-footer{
    grid-column: 4;
}

.footer-list{
    list-style: none;

}

.footer a{
    text-decoration: none;
    color: blue;
}

.footer a:hover{
    color: #FF8923;
}